# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# env file
.env

# misc
package-lock.json

# README.md
README.md

#npm-debug log file
npm-debug.log

#keys
/config/*